<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="8" offset-md="2">
        <ion-list >
          <ion-radio-group value ="New" (ionChange) = "saveSettings($event)" [(ngModel)] ="ordertype">
        
            <ion-item>
              <ion-list slot="start">
              <ion-label color="primary">New({{buyer_newCount}})</ion-label>
              <ion-radio slot="start" value="New"></ion-radio>
            </ion-list>
          

            <!-- <ion-list slot="end" style="padding: 10px;">
              <ion-label color="danger">Pending({{buyer_newCount}})</ion-label>
              <ion-radio  value="pending"></ion-radio>
            </ion-list> -->


            <ion-list  style="padding: 10px;">
              <ion-label color="medium">Cancel({{buyer_cancelCount}})</ion-label>
              <ion-radio  value="Cancel"></ion-radio>
            </ion-list>
        
            <ion-list  style="padding: 10px;">
              <ion-label color="success">Delivered({{buyer_completeCount}})</ion-label>
              <ion-radio  value="Received"></ion-radio>
            </ion-list>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-searchbar     
        color="medium"
        placeholder="Search by store or medicine"
        [(ngModel)]="search">
        </ion-searchbar>

        <h2 style="text-align: center">Store Orders</h2>
        <ion-list  *ngFor="let item of orders | filter: search" >
          <!--  -->
          <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
            <ion-item lines="none" >
              <ion-label>
                <h3><strong>Order ID: {{item._id}}</strong></h3>
                <h3><strong>Store Name: {{item.username}}</strong></h3>
                <p>{{item.createdAt | date}}</p>
                <h3>Payment type: {{item.paymentmethod}}</h3>
                <ion-text>Medicines: {{item.medicines.length}}</ion-text>
                <br>
                <p *ngIf="item.orderstatus === 'New'">
                  <ion-badge  color="danger" slot="end" style="height:20px; width:85px" (click)="cancelOrder(item._id, 'Cancel')">Cancel</ion-badge>
                </p>
                <p *ngIf="item.orderstatus === 'New'">
                  <ion-badge color="success" slot="end" style="height:20px; width:85px" (click)="receivedOrder(item._id, 'Received')">Delivered</ion-badge>
                </p>
              </ion-label>
              <ion-badge color="primary" slot="end" style="height:20px; width:85px" color='primary' *ngIf="item.orderstatus === 'New'"  (click)="orderdetail(item._id)">{{item.orderstatus}}</ion-badge>
              <ion-badge color="primary" slot="end" style="height:20px; width:85px" color='medium' *ngIf="item.orderstatus === 'Cancel'" (click)="orderdetail(item._id)">{{item.orderstatus}}</ion-badge>
              <ion-badge color="primary" slot="end" style="height:20px; width:85px" color='success' *ngIf="item.orderstatus === 'Received'" (click)="orderdetail(item._id)">{{item.orderstatus}}</ion-badge>
            </ion-item>
          </ion-card>

      </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--         <h2 style="text-align: center">Seller Orders</h2>

        <ion-item>
          <ion-buttons>
            <ion-button> In Progress </ion-button>
          </ion-buttons>
          <ion-label slot="end">{{seller_newCount}}</ion-label>
          <ion-button slot="end" (click)="navigateToOrderType('seller','new')">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-buttons>
            <ion-button> Cancel </ion-button>
          </ion-buttons>
          <ion-label slot="end">{{seller_cancelCount}}</ion-label>
          <ion-button slot="end" (click)="navigateToOrderType('seller','cancel')">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-buttons>
            <ion-button> Completed </ion-button>
          </ion-buttons>
          <ion-label slot="end">{{seller_completeCount}}</ion-label>
          <ion-button slot="end" (click)="navigateToOrderType('seller','completed')">
            <ion-icon name="chevron-forward"></ion-icon>
          </ion-button>
        </ion-item>

        <ion-item color="secondary">
          <ion-item>
            <ion-buttons>
              <ion-button> Total </ion-button>
            </ion-buttons>
            <ion-label slot="end">{{seller_newCount + seller_cancelCount + seller_completeCount}}</ion-label>
   
          </ion-item> -->
