<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12' size-md="6" size-lg="6" offset-lg="3">
        <div
          style="
            text-align: center;
            margin-top: 100px;
          "
        >
          <h1 style="font-weight: bold;">Medical Express</h1>
          <p style="font-weight: bold;font-style: italic;">Our first priority is health!</p>
  

          <br>
          <p >

            You can contact us anytime and ask any query you want to know about the Medical
            Express. If you have any issue regarding the medical express you can contact us.
          </p>
          <br>
          <p>
            <b>Gmail:</b> medical.express@gmail.com
          </p>
          <p>
            <b>Facebook:</b> medical.express@facebook.com
          </p>
          <p>
            <b>Twitter:</b> medical.express@twitter.com
          </p>
          <p>
          <b>WhatsApp:</b> 03488281463
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <footer style="text-align: center;color:white; background-color:rgb(63, 63, 228);">
  <p>All right reserved!</p>
</footer> -->