<ion-header>
  <ion-toolbar>
    <ion-title> Forget Password </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
        <form [formGroup]="forgetform" style="border: 1px solid blue;">
          <!-- Email Address -->
          <ion-item id="item">
            <!-- <ion-label position="floating">Email</ion-label> -->
            <ion-input
              type="email"
              name="email"
              formControlName="email"
              placeholder="Email address..."
            ></ion-input>
          </ion-item>
          <p
            *ngIf="
              forgetform.controls.email.invalid &&
              forgetform.controls.email.touched
            "
          >
            example@gmail.com
          </p>
          <ion-button *ngIf="!flag1" (click)="verifyEmail()" [disabled]="forgetform.value.email.invalid"
            >Verify<ion-spinner *ngIf="spinner1" name="dots"></ion-spinner></ion-button
          >
          <!-- New Password -->
          <ion-item id="item" *ngIf="flag1">
            <!-- <ion-label position="floating">Email</ion-label> -->
            <ion-input
              type="text"
              name="otpcode"
              formControlName="otpcode"
              maxlength="6"
              placeholder="OTP CODE 6 digits"
            ></ion-input>
          </ion-item>
          <p 
            *ngIf="
              forgetform.controls.otpcode.invalid &&
              forgetform.controls.otpcode.touched
            "
          >
            only numbers [0-9]
          </p>
          <ion-button *ngIf="flag1 && !flag2" (click)="verifyOTPCode()" [disabled]="forgetform.value.otpcode.invalid"
            >Verify<ion-spinner *ngIf="spinner2" name="dots"></ion-spinner></ion-button
          >
          <!-- New Password -->
          <ion-item id="item" *ngIf="flag2">
            <!-- <ion-label position="floating">Email</ion-label> -->
            <ion-input
              type="password"
              name="password"
              formControlName="password"
              placeholder="New Password"
            ></ion-input>
          </ion-item>
          <p 
            *ngIf="
              forgetform.controls.password.invalid &&
              forgetform.controls.password.touched
            "
          >
            Length 8 combination of letters and numbers
          </p>
          <ion-button *ngIf="flag2" (click)="changePassword()" [disabled]="forgetform.value.password.invalid"
            >Submit<ion-spinner *ngIf="spinner3" name="dots"></ion-spinner></ion-button
          >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
