#avator {
    margin: auto;
}
#form {
    margin-top: 5em;
    // border: 1px solid black;
    border-radius: 1em;
    // padding: 4em;
    text-align: center;
}
#btn {
    width: 10em;
}
#item {
    border-radius: 0.2em;
    // text-align: center;
}