<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inventory</ion-title>
    <ion-buttons slot="end">
      <!-- (click)="searchBarDisplay()" -->
      <!-- <ion-button (click)="searchBarDisplay()">
        <ion-icon name="search"></ion-icon>
      </ion-button> -->
      <!--  -->
      <ion-button slot="end" (click)="openAddMedicineModal(storeId, storename)"
        ><ion-icon name="add-circle"></ion-icon
      ></ion-button>
      <ion-button slot="end" (click)="medicinesInfoModal(storename, storeId)">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>

      <ion-button slot="end" (click)="deleteAlert()"
        ><ion-icon name="trash"></ion-icon
      ></ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div *ngIf="!loading">
<div  style="text-align: center">
<h2 >{{ storename }}</h2>
</div>

<ion-item *ngIf="success">
  <ion-searchbar
    color="medium"
    placeholder="Search Medicine"
    [(ngModel)]="search"
    
  ></ion-searchbar>
</ion-item>
<ion-list-header *ngIf="success" >
  <ion-select value="all" (ionChange)="onSelect($event)">
    <ion-select-option value="all">All</ion-select-option>
    <ion-select-option value="Tablet">Tablet</ion-select-option>
    <ion-select-option value="Tube">Tube</ion-select-option>
    <ion-select-option value="Capsule">Capsule</ion-select-option>
    <ion-select-option value="Syrup">Syrup</ion-select-option>
    <ion-select-option value="Injection">Injection</ion-select-option>
    <ion-select-option value="Others">Others</ion-select-option>
  </ion-select>
</ion-list-header>
</div>
<!-- The Form for the Medicine Inventory -->
<ion-content>
  <div *ngIf="!loading">
  <ion-grid>
    <div *ngIf="success">
      <ion-row *ngIf="!switch">
        <ion-col size="12" size-md="6" size-lg="8" offset-md="2">
          <ion-list *ngFor="let m of tempArray | filter:search">
            <ion-item *ngIf="m.format || onselect === 'all'">
              <!-- <ion-avatar> -->
              <!-- <img [src]="m.image" /> -->
              <img
                height="80px"
                width="80px"
                style="margin-right: 10px"
                [src]="m.image"
                alt="Medicine image"
              />
              <!-- </ion-avatar> -->
              <ion-label>
                <h2>{{ m.medicinename }}</h2>
                <!-- <p>{{ m.formula }}</p> -->
                <p>{{ m.format }}</p>
                <p>{{ m.ingredients }}mg</p>
                <p>Rs.{{ m.price }}</p>
                <p>qty: {{ m.quantity }}</p>
  
              </ion-label>
              <ion-buttons slot="end">
                <ion-button (click)="openEditMedicineModal(storename, m)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button (click)="deleteSingleAlert(m.id, m.medicinename)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
    <!-- Message if no record found from the database -->
    <div *ngIf="!success">
      <p style="text-align: center; margin-top: 5em; color: black">
        {{ this.status }}
      </p>
    </div>
  </ion-grid>
</div>
<div *ngIf="loading">
  <ion-list>
    <ion-item *ngFor="let s of skeletonlist">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
</ion-content>

<!-- <app-medical-express-home></app-medical-express-home> -->
