ion-slides {
    height: 25%;
    margin-top: 20px;
  }
.detail-header{
    // background-image: url("/assets/images/MartialKing.PNG");
    position: relative;
    height: 300px!important;
    width: 100%;
    background-size: cover;
}
.Button{
  height: 100px;
  width: 300px;
}