<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Store</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- The Body -->
<ion-content>
  <!-- Here the image slider of the specific images -->
  <ion-slides [options]="slideOptsOne">
    <ion-slide *ngFor="let item of items">
      <!-- <ion-card > -->
      <!-- <ion-card-content> -->
      <ion-img [src]="item.image"></ion-img>
      <!-- <h2> <b>{{item.title}} </b></h2>
          <h4>{{item.summary}}</h4>-->
      <!-- </ion-card-content>  -->
      <!-- </ion-card> -->
    </ion-slide>
  </ion-slides>
  <!-- Image slider ends here -->

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4" offset-lg="2">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-buttons>
                <span *ngIf="flag" color="success">{{ store.name }}</span>
                <span *ngIf="!flag">Store</span>
                <ion-icon *ngIf="!flag" name="create"></ion-icon>
                <ion-button *ngIf="flag" (click)="openInfoModal(store)">
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="!flag"
            >Create your medical store now</ion-card-content
          >
          <ion-card-content *ngIf="flag"
            >Manage your medical store</ion-card-content
          >
          <ion-card-content>
            <ion-button
              *ngIf="!flag"
              color="dark"
              (click)="openCreateModal(decodeUserId)"
              >Go <ion-icon name="chevron-forward"></ion-icon
            ></ion-button>
            <ion-buttons *ngIf="flag">
              <ion-button color="dark" (click)="openEditModal(store)"
                ><ion-icon name="create"></ion-icon
              ></ion-button>
              <ion-button color="dark" (click)="deleteAlert(store.name)"
                ><ion-icon name="trash"></ion-icon
              ></ion-button>
            </ion-buttons>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" size-lg="4" *ngIf="flag">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-buttons>
                <span>Manage Inventory</span>
                <ion-button
                  (click)="openInfoMedicineModal(store._id, store.name)"
                >
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>Add medicines into your Store</ion-card-content>
          <ion-card-content>
            <ion-button
              color="dark"
              (click)="medicineInventory(store.name, store._id)"
              >Add <ion-icon name="add"></ion-icon
            ></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <!--  -->
    <ion-row>
      <!-- Order -->
      <ion-col size="12" size-md="6" size-lg="4" offset-lg="2" *ngIf="flag">
        <ion-card color="secondary">
          <ion-card-header>
            <ion-card-title>
              <ion-buttons>
                <span>Orders</span>
                <ion-button
                  (click)="openInfoMedicineModal(store._id, store.name)"
                >
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>Orders In Queue</ion-card-content>
          <ion-card-content>
            <ion-button color="dark" (click)="orders(store._id)"
              >Orders<ion-icon name="navigate"></ion-icon
            ></ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Charity Card -->
      <ion-col size="12" size-md="6" size-lg="4" offset-md="2" *ngIf="!flag">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-buttons>
                <span *ngIf="flag" color="success">Charity</span>
                <span *ngIf="!flag">Charity</span>
                <ion-icon *ngIf="!flag" name="create"></ion-icon>
                <ion-button *ngIf="flag" (click)="openInfoModal(store)">
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="!flag">Make Charity Now</ion-card-content>
          <ion-card-content *ngIf="flag">Make Charity Now</ion-card-content>
          <ion-card-content>
            <ion-button
              *ngIf="!flag"
              color="dark"
              (click)="openCreateModal(decodeUserId)"
              >Add <ion-icon name="chevron-forward"></ion-icon
            ></ion-button>
            <!-- <ion-buttons *ngIf="flag"> -->
            <ion-button color="dark" (click)="openEditModal(store)"
              >Add<ion-icon name="add"></ion-icon
            ></ion-button>
            <ion-button color="dark" (click)="deleteAlert(store.name)"
              >View<ion-icon name="caret-forward"></ion-icon
            ></ion-button>
            <!-- </ion-buttons> -->
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- Charity Card -->
      <ion-col size="12" size-md="6" size-lg="4" *ngIf="flag">
        <ion-card color="primary">
          <ion-card-header>
            <ion-card-title>
              <ion-buttons>
                <span *ngIf="flag" color="success">Charity</span>
                <span *ngIf="!flag">Charity</span>
                <ion-icon *ngIf="!flag" name="create"></ion-icon>
                <ion-button *ngIf="flag" (click)="openInfoModal(store)">
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="!flag">Make Charity Now</ion-card-content>
          <ion-card-content *ngIf="flag">Make Charity Now</ion-card-content>
          <ion-card-content>
            <ion-button
              *ngIf="!flag"
              color="dark"
              (click)="openCreateModal(decodeUserId)"
              >Add <ion-icon name="chevron-forward"></ion-icon
            ></ion-button>
            <!-- <ion-buttons *ngIf="flag"> -->
            <ion-button color="dark" (click)="openEditModal(store)"
              >Add<ion-icon name="add"></ion-icon
            ></ion-button>
            <ion-button color="dark" (click)="deleteAlert(store.name)"
              >View<ion-icon name="caret-forward"></ion-icon
            ></ion-button>
            <!-- </ion-buttons> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
