<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <!--New Changes-->
    
    <ion-title>Store</ion-title>
    <ion-buttons slot="end">
        <ion-button (click)="listDisplay()">
          <ion-icon name="list"></ion-icon>
        </ion-button>
        <ion-button (click)="cardDisplay()">
          <ion-icon name="grid"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
        <ion-searchbar *ngIf="flag1"
          color="medium"
          placeholder="Search by store name or address"
          [(ngModel)]="search"
          (change)="saveSearch($event)" autocorrect="off"
        ></ion-searchbar>
<ion-content>
  <div *ngIf="!loading">
    <!-- No internet flag -->
    <div *ngIf="internetflag">
      <div *ngIf="flag1">
        <ion-grid>
          <ion-row *ngIf="!switch">
            <ion-col size="12" size-lg="8" offset-lg="2">
              <ion-list *ngFor="let store of storeServ.storeArray | filter: search">
                <ion-item  lines="none" color="light" (click)="visitStore(store._id)">
                  <ion-label>
                    <img
                      style="width: 100px; height: 100px;"
                      src="{{store.image}}"
                    />
                  </ion-label>
                  <ion-label>
                    <h2 style="color: black; font: bold;">{{ store.name }}</h2>
                    <h4>{{ store.contact }}</h4>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <p>{{ store.address }} {{ store.city }}</p>
                    <!-- <p>{{ store.province }}</p> -->
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <!-- CARD DISPLAY -->
          <ion-row *ngIf="switch">
            <ion-col size="12" size-md="4" size-lg="3" *ngFor="let store of storeServ.storeArray | filter: search" >
              <!-- In this form of Cards the Data will be present -->
              <ion-card 
                style="height:400px;width:250px;margin: 10px 20px; text-align: center;"
               
              >
              <!--    [src]="imageurl" border: 3px solid white; border-radius: 10px;"-->
                <img style=" width: 250px;height:200px;"  
                
                src="{{store.image}}" alt="Store-Image" (click)="visitStore(store._id)"/>
                <ion-card-header>
                  <ion-card-title>{{ store.name }}</ion-card-title>
                  <ion-card-subtitle>{{ store.contact }}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <p>{{ store.address }} {{ store.city }}</p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div *ngIf="!flag1" style="text-align: center; margin-top: 160px;">
        <p>Oops, No store found</p>
      </div>
    </div>
    <div *ngIf="!internetflag" style="text-align: center;">
      <p>Oops, No Internet</p>
    </div>
  </div>

  <div *ngIf="loading">
    <ion-list>
      <ion-item *ngFor="let s of skeletonlist">
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
