<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size='12' size-md="6" size-lg="6" offset-lg="3">
        <div
          style="
            text-align: center;
            margin-top: 100px;
          "
        >
          <h1 style="font-weight: bold;">Medical Express</h1>
          <p style="font-weight: bold;font-style: italic;">Our moto to serve the humanity!</p>
  

          <br>
          <p >

            Our company is serving to the all medical stores to register and
            sell the medicines online. Here's the main purpose to facilitate the
            people to find their required medicine immediately to the nearest
            store. Customer can order or can go to the store on provided
            location of the store to buy the medicines easily without wastage of
            time.
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <footer style="text-align: center;color:white; background-color:rgb(63, 63, 228);">
  <p>All right reserved!</p>
</footer> -->