<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Charity</ion-title>
    <ion-icon slot="end" name="add-circle-outline"></ion-icon>
    <ion-icon slot="end" name="ellipsis-vertical" class="ion-padding"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="info-card ion-margin ion-padding-top ion-padding-bottom">
     <ion-item lines="none" routerLink="/charity-details">
       <ion-label>
         <h3><strong>Charity Id # 34343434</strong></h3>
         <p>Donated by</p>
         <h3>Medicines 5</h3>
       </ion-label>
     </ion-item>
   </ion-card>

</ion-content>
