<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>On Stores</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="8" offset-md="2">
        <ion-card *ngIf="flag" color="primary">
          <ion-card-header>
            <ion-card-title
              >{{ medicineServ.medicine.medicinename }} /
              {{ medicineServ.medicine.formula }}</ion-card-title
            >
            <ion-card-subtitle>
              <p>
                {{ medicineServ.medicine.format }}/{{
                  medicineServ.medicine.ingredients
                }}mg
              </p>
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item *ngIf="success">
    <ion-searchbar
      color="medium"
      placeholder="Search by store name or address"
      (keyup)="onKeyUp($event)"
    ></ion-searchbar>
  </ion-item>
  <ion-grid>
    <ion-row *ngIf="success">
      <!-- <ion-col>
        <ion-list *ngFor="let store of storeServ.storeArray">
          <ion-item lines="none">
            <ion-avatar>
              <img src="assets/images/MartialKing.PNG" />
            </ion-avatar>
            <ion-label>
              <p>{{ store.name }}</p>
              <p>{{ store.contact }}</p>
            </ion-label>
            
            <ion-button slot="end" (click)="medicineOnStores(store._id)">
              <ion-icon name="chevron-forward"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item>
            <ion-label>
              <p>{{ store.address }} {{ store.city }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col> -->
      <!-- CARD DISPLAY -->
      <ion-col
        size="12"
        size-md="4"
        size-lg="3"
        *ngFor="let store of storeServ.storeArray"
      >
        <ion-card
        *ngIf="store.userId != jwtServ.getUserId()"
          class="welcome-card"
          style="height: 400px; width: 250px; margin: 10px 20px"
          color="dark"
        >
          <img
            style="
              width: 250px;
              height: 200px;
              border: 3px solid white;
              border-radius: 10px;"
            [src]="store.image"
            alt="Store-Image"
          />
          <ion-card-header>
            <ion-card-title>{{ store.name }}</ion-card-title>
            <ion-card-subtitle>{{ store.contact }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <p>{{ store.address }} {{ store.city }}</p>
            <ion-button
              color="tertiary"
              margin-top
              (click)="medicineOnStores(store._id)"
            >
              <ion-icon name="navigate"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <div
      *ngIf="!success"
      style="margin-top: 50px; text-align: center; font: bold"
    >
      <p>OOPs, no store found..!</p>
      <!-- <p>OOPs, not available on any store..!</p> -->
    </div>
  </ion-grid>
</ion-content>
