<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6" offset-md="3" size-lg="4" offset-lg="4">
        <form [formGroup]="settingform" style="margin-top: 40px;">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <!-- <ion-label position="floating">Email</ion-label> -->
            <ion-input type="email" readonly
              formControlName="email"></ion-input
            >
          </ion-item>
          <ion-item>
            <ion-label position="floating">Old Password</ion-label>
            <ion-input type="password" formControlName="oldpassword"></ion-input>
          </ion-item>
          <ion-button *ngIf="!flag1" (click)="verifyOldPassword()">Verify</ion-button>
          <ion-item *ngIf="flag1">
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" formControlName="newpassword"></ion-input>
          </ion-item>
          <ion-button *ngIf="flag1" (click)="changePassword()">Submit</ion-button>
          <ion-item lines="none">
            <button slot="end" (click)="navigateToForget()">forget password!</button>
          </ion-item>
          <!-- <ion-item lines="none">
            <ion-button slot="end" color="danger">Delete</ion-button>
          </ion-item> -->
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>