<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
         Medical Express 
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/cart">
        <ion-icon name="cart-sharp"></ion-icon>
        <label>cart</label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar>

    <ion-button slot="end">
      Medicines
    </ion-button>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!loading">
  <ion-item >
    <label>
      <h1>Popular Stores</h1>
    </label>
    <ion-buttons slot="end">
      <ion-button (click)="searchStores()">
        <ion-icon name="search"></ion-icon>
        Stores
      </ion-button>
  </ion-buttons>
  </ion-item>

  <ion-slides [options]="sliderConfig" >

    <ion-slide *ngFor="let store of storeServ.storeArray" >
      <ion-card id="First_Card" (click)="visitStore(store._id)">
        <img id="First_Image" src="{{store.image}}" />
        <ion-card-header>

          <ion-card-title>{{store.name}}</ion-card-title>
          <ion-card-subtitle>{{store.contact}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{store.address}}, {{store.city}}
        </ion-card-content>
      </ion-card>
    </ion-slide> 

  </ion-slides>

  <br>

  <ion-item>
    <label>
      <h1>Popular Medicines</h1>
    </label>
    <ion-buttons slot="end">
      <ion-button (click)="searchMedicines()">
        <ion-icon name="search"></ion-icon>
        Medicines
      </ion-button>
  </ion-buttons>
  </ion-item>

  
    <ion-slides [options]="SliderConfig">

      <ion-slide *ngFor="let medicine of medicineServ.MedicineArray">
        <ion-card id="Second_Card" (click)="medicineOnStores(medicine._id)">
          <img id="Second_Image" src="{{medicine.image}}"/>
          <ion-card-header>
           
            <ion-card-title>{{medicine.medicinename}}</ion-card-title>
            <ion-card-subtitle>{{medicine.formula}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{medicine.ingredients}}mg
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  
    <div *ngIf="loading">
      <ion-list *ngFor="let s of skeletonlist">
        <ion-label>
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-label>
        <ion-card animated>
          <img />
          <ion-card-header>
            <ion-card-title></ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
        </ion-card>
      </ion-list>
    </div>
</ion-content>